[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
python-jose = "*"
passlib = "*"
uvicorn = "*"
python-dotenv = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
